.icon-bg {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--second-white-background);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__text {
    @include font(400, 14px, 1.7, 0.03em);
    color: var(--grey-fontcolor);
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }

  @include tablet {
    &__title {
      text-align: left;
    }
  }

  @include desktop {
    &__title {
      text-align: left;
    }
  }
}

.features-list__item {
  display: block;
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: 270px;
  }
}
