.team {
  background-color: var(--second-white-background);

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--grey-fontcolor);
  }
}

.team-list__item {
  display: block;
  background-color: var(--main-backgroundcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.team-workers {
  padding: 30px 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;

  &__icon {
    fill: currentColor;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-color: var(--main-backgroundcolor);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-fontcolor);
    background-color: var(--accent-color);
  }
}
