/* ---------Переменные------- */

$mainFont: 'Roboto';
$secondaryFont: 'Raleway';

:root {
  --main-blackcolor: #212121;
  --grey-fontcolor: #757575;
  --white-fontcolor: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-backgroundcolor: #ffffff;
  --accent-background: #2f303a;
  --second-white-background: #f5f4fa;
  --accent-color-hover: #188ce8;
  --icon-hover-color: #ffffff;
  --icon-color: #afb1b8;
}
